<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ page.title }}{% endblock %} — {{ site.title }} — {{ site.subtitle }}</title>
        <link href="{{ site.url }}/assets/style.less" rel="stylesheet/less">

        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <h1>Lotus Elan Central</h1>
                <span class="strapline">elan <i>n:</i> “vigorous spirit or enthusiasm”</span>
            </div>
        </header>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand visible-xs">Lotus Elan Central</span>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="site-navbar">
                    <ul class="nav navbar-nav">
                        {% for nav in site.navbar %}
                            <li class="{% if nav['name'] == page.nav|default() %}active{% endif %}">
                                <a href="{{ site.url }}/{{ nav['url'] }}">{{ nav['label'] }}</a>
                            </li>
                        {% endfor %}

                        <li><a href="{{ site.forum_url }}/">Forum</a></li>
                        <li><a href="http://wikilec.9600.org/">Wiki</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main id="content" class="container">
            {% block page_header %}
            <div class="page-header">
                <h2>{{ page.page_title|default(page.title) }}</h2>
            </div>
            {% endblock %}

            {% block content %}{% endblock %}
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 site-footer-nav">
                        <h2>LEC</h2>
                        <ul class="list-unstyled">
                            <li><a href="{{ site.forum_url }}" target="_blank">Forum</a></li>
                            <li><a href="http://wikilec.9600.org/" target="_blank">Wiki</a></li>
                            <li><a href="https://www.facebook.com/groups/18414574095/" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 site-footer-nav">
                        <h2>Useful Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="http://www.alanmcnicol.dsl.pipex.com/M100_ALDL.html" target="_blank">ElanScan</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 site-footer-nav">
                        <h2>Contact Us</h2>
                        <ul class="list-unstyled">
                            <li><a href="{{ site.forum_url }}/viewforum.php?f=83">Donations</a></li>
                            <li><a href="{{ site.url }}/contact-us">Email Us</a></li>
                        </ul>
                    </div>
                </div>

                <p class="site-footer-smallprint">© 1999–{{ "now"|date("Y") }} {{ site.title }}</p>
            </div>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ site.url }}/assets/bs/js/bootstrap.min.js"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
