<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ page.title }}{% endblock %} — {{ site.title }} — {{ site.subtitle }}</title>
        <link href="{{ site.url }}/assets/style.less" rel="stylesheet/less">
        <link href="{{ site.url }}/assets/style.css" rel="stylesheet">

        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Lotus Elan Central</h1>
                <span class="strapline">elan <i>n:</i> “vigorous spirit or enthusiasm”</span>
            </div>
        </header>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand visible-xs">Lotus Elan Central</span>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="site-navbar">
                    <ul class="nav navbar-nav">
                        {% set navs = [
                            ['home', 'Home', ''],
                        ] %}

                        {% for nav in navs %}
                            <li class="{% if nav[0] == page.nav|default() %}active{% endif %}">
                                <a href="{{ site.url }}/{{ nav[2] }}">{{ nav[1] }}</a>
                            </li>
                        {% endfor %}

                        <li><a href="http://www.lotuselancentral.com/forum/">Forum</a></li>
                        <li><a href="http://wikilec.9600.org/">Wiki</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main id="content" class="container">
            {% block page_header %}
            <div class="page-header">
                <h2>{{ page.page_title|default(page.title) }}</h2>
            </div>
            {% endblock %}

            {% block content %}{% endblock %}
        </main>

        <footer class="container">
            <div class="strip-gallery">
                <img class="img-responsive" src="https://farm6.staticflickr.com/5119/14134769633_d481ee880e_k_d.jpg" alt="Elan rear Lotus name close-up">
                <img class="img-responsive" src="https://farm8.staticflickr.com/7386/10944992336_dbd4308e1a_k_d.jpg" alt="Elan parked up before a hairpin bend">
                <img class="img-responsive" src="https://farm6.staticflickr.com/5536/10912466014_079f73d34a_k_d.jpg" alt="Near-side profile in Autumn">
                <img class="img-responsive" src="https://farm8.staticflickr.com/7397/9971713395_07850f7e91_k_d.jpg" alt="Close-up dashboard badge on a Lotus Elan SE">
                <img class="img-responsive" src="https://farm4.staticflickr.com/3760/9921434115_85ed44282d_b_d.jpg" alt="Cockpit of an S2 Elan">
                <img class="img-responsive" src="https://farm6.staticflickr.com/5536/10780515114_e8325b7df0_o_d.jpg" alt="Line-up of Elan’s">
                <img class="img-responsive" src="https://farm3.staticflickr.com/2847/10385047054_8177cfd779_k_d.jpg" alt="S2 Elan overlooking an incoming storm">
                <img class="img-responsive" src="https://farm3.staticflickr.com/2845/9971722644_e220c773b7_k_d.jpg" alt="Cockpit of an Elan at night">
                <img class="img-responsive" src="https://farm4.staticflickr.com/3896/14548565904_c485f96027_k_d.jpg" alt="Line of yellow Elan’s outside an inn">
                <img class="img-responsive" src="https://farm8.staticflickr.com/7312/10945091274_682a62db36_k_d.jpg" alt="An Elan at dusk">
            </div>

            <p>© 1999–{{ "now"|date("Y") }} {{ site.title }}</p>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ site.url }}/assets/bs/js/bootstrap.min.js"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>
