html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: @site-footer-height;
}

@media (max-width: @screen-xs-max) {
    // This could be done outside a media query but reversing the .sr-only mixin
    // is non trivial.
    .site-header {
        .sr-only();
    }
}

@media (min-width: @screen-sm-min) {
    .site-header {
        background: @lec-primary url('banner.jpg') 0 bottom no-repeat;
        background-size: cover;
        color: #fff;

        height: 500px;
        max-width: 1360px;
        margin: 0 auto;
    }

    .site-header h1 {
        margin: 0;
        color: #fff;
        padding-top: 420px;
        line-height: 50px;
    }

    .site-header .strapline {
        color: @gray-lighter;
        text-shadow: -1px -1px 1px @gray;
    }
}

.site-footer {
    &:before {
        display: block;
        content: '';
        height: 2px;
        width: 100%;
        #gradient > .striped(@lec-secondary, 90deg);
        background-color: @lec-primary;
        background-size: 20px 2px;
    }

    background: @site-footer-bg;
    color: @site-footer-color;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: @site-footer-height;

    > .container {
        height: 100%;
        position: relative;
    }
}

.site-footer-smallprint {
    position: absolute;
    bottom: 0;
    right: @grid-gutter-width / 2;

    .small();
    font-weight: bold;
}
