html {
    position: relative;
    min-height: 100%;
}

@media (max-width: @screen-xs-max) {
    // This could be done outside a media query but reversing the .sr-only mixin
    // is non trivial.
    .site-header {
        .sr-only();
    }
}

@media (min-width: @screen-sm-min) {
    body {
        margin-bottom: @site-footer-height;
    }

    .site-header {
        background: @lec-primary url('banner.jpg') 0 bottom no-repeat;
        background-size: cover;
        color: #fff;

        height: 500px;
        max-width: 1360px;
        margin: 0 auto;
    }

    .site-header h1 {
        margin: 0;
        color: #fff;
        padding-top: 420px;
        line-height: 50px;
    }

    .site-header .strapline {
        color: @gray-lighter;
        text-shadow: -1px -1px 1px @gray;
    }

    .site-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: @site-footer-height;
    }

    .site-footer-smallprint {
        position: absolute;
        bottom: 0;
        right: @grid-gutter-width / 2;
    }
}

#content {
    margin-top: -@navbar-margin-bottom;
    padding-bottom: @navbar-margin-bottom;
}

.site-footer {
    &:before {
        display: block;
        content: '';
        height: 2px;
        width: 100%;
        .stripey(20px);
    }

    background: @site-footer-bg;
    color: @site-footer-color;

    > .container {
        height: 100%;
        position: relative;
    }
}

.site-footer-nav {
    h2 {
        border-bottom: 1px solid;
        border-bottom-color: inherit;
    }

    h2, ul {
        font-size: @font-size-small;
        font-weight: bold;
    }
}

.site-footer-smallprint {
    .small();
    font-weight: bold;
    text-align: right;
}

.stripey {
    body& {
        .stripey(100%, 90deg);
    }

    #content {
        background: rgba(255, 255, 255, 0.95);
    }

    .site-footer {
        &:before {
            .stripey(100%, 90deg);
        }

        .stripey(100%, 90deg, 30%);
    }
}
