.stripey(@width, @angle: 90deg, @alpha: 100%) {
    @body-bg: mix(@lec-primary, #fff, @alpha);
    @stripe-bg: mix(@lec-secondary, #fff, @alpha);

    background-color: @stripe-bg;
    background-size: @width 2px;

    background-image: -webkit-linear-gradient(@angle, @body-bg 37.5%, transparent 37.5%, transparent 47.5%, @body-bg 47.5%, @body-bg 52.5%, transparent 52.5%, transparent 62.5%, @body-bg 62.5%);
    background-image: -o-linear-gradient(@angle, @body-bg 37.5%, transparent 37.5%, transparent 47.5%, @body-bg 47.5%, @body-bg 52.5%, transparent 52.5%, transparent 62.5%, @body-bg 62.5%);
    background-image: linear-gradient(@angle, @body-bg 37.5%, transparent 37.5%, transparent 47.5%, @body-bg 47.5%, @body-bg 52.5%, transparent 52.5%, transparent 62.5%, @body-bg 62.5%);
}
