.strip-gallery,
.strip-gallery > .img-responsive {
    height: 100px;
}

.strip-gallery {
    overflow: hidden;
    background-color: #eaf4e7;
}

.strip-gallery > .img-responsive {
    float: left;
}
