body {
    max-width: 1360px;
}

header {
    background: #024A15 url('banner.jpg') 0 bottom no-repeat;
    background-size: cover;
    color: #fff;

    height: 500px;
}

header > h1 {
    margin: 0;
    padding: 420px 40px 0;
    line-height: 50px;
}

header > .strapline {
    padding: 0 40px 0;
    color: #ccc;
    text-shadow: -1px -1px 1px #555;
}

.pure-menu-horizontal > ul {
}
